h2 {
	color: #332222;
	background-color: antiquewhite;
}

h1 {
	color: darkred;
	background-color: antiquewhite;
}

p {
font-size: 16px;
	border: 2px solid firebrick;
	background-color: antiquewhite;
}
body {
	background-color: darkslategray;
}

#circle {

	align-self: center;
	size: 60px;
}