h2 {
	color: #332222;
	font-family: "Bauhaus 93", sans-serif;
}

h1 {
	color: darkred;
	background-color: antiquewhite;
}

p {
'color: royalblue;
font-size: large;
}
body {
	-webkit-background-image: url("background image.JPG");
	-moz-background-image: initial;
}
textarea {
	box-sizing: content-box;
}