h2 {
	color: #332222;
	font-family: "Bauhaus 93", sans-serif;
}

h1 {
	color: darkred;
	background-color: antiquewhite;
}

p {
'color: royalblue;
font-size: large;
}
body {
	-webkit-background-image: url("https://pre00.deviantart.net/88a1/th/pre/f/2015/259/a/0/mountain_minimalist_by_amdpastrana-d99tigk.jpg");
'-moz-background-image: initial;
}